/**
*
* Galvenais CSS fails
*
*/
html, body {
    height:100%;
}

#nav-links a {
    padding: 20px;
}

.navbar {
    margin-bottom: 0;
    background-color:#fff;
}



/*============================= PAPILDUS =======================================*/
/* Slīdrādis */
.carousel {
	height:60%;
        margin-bottom:20px;
}

.item,
.active,
.carousel-inner {
	height:100%;
}

.slider-image {
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.main-block {
	margin: 50px 0;
}
/* Slīdrādis beidzas */

/*=============================== LAPAS ========================================*/

/* Galvenās lapas stils */
#first-row {
    margin-bottom: 5%;
}
.landing-row {
    margin-bottom:10%;
}
/* Galvenās lapas stils beidzas */


/* 404 lapas stils */
#img-404 {
    margin: 30px;
}
/* 404 lapas stils beidzas */

/*==============================================================================*/